@import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

:root {
    --color-main: #111;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    list-style-type: '- ';
    outline: none;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--color-main);

    display: flex;
    flex-direction: column;
}

.header-container {
    flex: 1;
}

.header-container, .container {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;

}